<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pureple.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>30</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
				<key>dateExpires</key>
				<string>17.08.2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BottomPopup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>6.7.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Koloda.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Loaf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Pastel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PryntTrimmerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.11.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SkyFloatingLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Stevia.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.7.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SupportEmail.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyStoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.16.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyUserDefaults.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ViewAnimator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>YPImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.20200225.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.30906.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE78087837BE7189F4B475F5BDA9548A2AFF8573</string>
						<key>dateExpires</key>
						<string>17.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>pop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A3UC25SLF5</string>
						<key>name</key>
						<string>ICECLIP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A3UC25SLF5.com.pureple.beta</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A3UC25SLF5</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>A3UC25SLF5.com.pureple.beta</string>
				</array>
			</dict>
			<key>name</key>
			<string>Pureple.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>523bd815-72b7-467d-83bd-75a8d69064f4</string>
				<key>dateExpires</key>
				<string>17.08.2022</string>
				<key>name</key>
				<string>purepleBetaAdHoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A3UC25SLF5</string>
				<key>name</key>
				<string>ICECLIP LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>5.0</string>
		</dict>
	</array>
</dict>
</plist>
